<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, id: "editor" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#editor'),
    upload: {
      url: '<%= upload_image_path %>',
      params: null,
      fileKey: 'image',
      connectionCount: 1,
      leaveConfirm: '正在上传文件，如果离开上传会自动取消'
    }
  });
</script>
