<!DOCTYPE html>
<html>
<head>
  <title>Shimo Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .main { padding-top: 50px; box-shadow: 1px 1px 20px #EEE; padding-bottom: 30px; } 
    footer { width: 100%; padding-top: 20px; padding-bottom: 20px; text-align: center; }
  </style>
</head>
<body>
  <div class="container main">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= if user_signed_in?
                current_user.email
              else
                "Option"
              end
          %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, method: "DELETE" %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
          </li>
        </ul>
      </li>
    </ul>
    <script type="text/javascript">
    !function () {
      var controller = window.location.pathname.split('/')[1];
      if ( !controller ) {
        $("#nav-ul>li:first").addClass('active');
        return;
      }
      $("#nav-ul>li:gt(0)").each(function () {
        $this = $(this);
        if ( $this.text().toLowerCase() === controller.toLowerCase() ) {
          $this.addClass('active');
        }
      });

    }();
    
    </script>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>&copy;chuxin tech, 1984-2014</footer>
</body>
</html>

